In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random
import math
from sklearn.metrics import average_precision_score
from sklearn.preprocessing import label_binarize
import time

% matplotlib inline

In [2]:
millis1 = int(round(time.time() * 1000))

In [3]:
dtype={'is_booking':bool,
        'srch_ci' : np.str_,
        'srch_co' : np.str_,
        'srch_adults_cnt' : np.int32,
        'srch_children_cnt' : np.int32,
        'srch_rm_cnt' : np.int32,
        'srch_destination_id':np.int32,
        'user_location_country' : np.float64,
        'user_location_region' : np.float64,
        'user_location_city' : np.float64,
        'hotel_cluster' : np.float64,
        'orig_destination_distance':np.float64,
        'date_time':np.str_,
        'hotel_market':np.int32}

In [4]:
df0 = pd.read_csv('train.csv',dtype=dtype, usecols=dtype, parse_dates=['date_time'] ,sep=',',nrows=10000000).dropna()

In [5]:
df2 = df0[(df0['hotel_cluster'] == 91)  | (df0['hotel_cluster'] == 41)]
#| (df0['hotel_cluster'] == 65) | (df0['hotel_cluster'] == 48) | (df0['hotel_cluster'] == 25)

In [6]:
df1 = df2[[
    'date_time',
    'user_location_country',
    'orig_destination_distance',
    'srch_ci',
    'srch_co', 
    'srch_adults_cnt',
    'srch_children_cnt',
    'srch_rm_cnt', 
    'srch_destination_id',
    'is_booking',
    'hotel_market', 
    'hotel_cluster',
    ]]

In [7]:
df1['srch_ci']=pd.to_datetime(df1['srch_ci'],infer_datetime_format = True,errors='coerce')
df1['srch_co']=pd.to_datetime(df1['srch_co'],infer_datetime_format = True,errors='coerce')
df1['date_time']=pd.to_datetime(df1['date_time'],infer_datetime_format = True,errors='coerce')

df1['month']= df1['date_time'].dt.month
df1['plan_time'] = ((df1['srch_ci']-df1['date_time'])/np.timedelta64(1,'D')).astype(float)
df1['length_of_stay']=((df1['srch_co']-df1['srch_ci'])/np.timedelta64(1,'D')).astype(float)

n=df1.orig_destination_distance.mean()
df1['orig_destination_distance']=df1.orig_destination_distance.fillna(n)
df1.fillna(-1,inplace=True)

/Users/abhisheknigam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/abhisheknigam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/abhisheknigam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/abhisheknigam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
#df1.loc[df1['srch_children_cnt'] > 0, 'srch_children_cnt'] = 1
#df1.loc[df1['srch_adults_cnt'] > 2, 'srch_adults_cnt'] = 3

In [9]:
lst_drop=['date_time','srch_ci','srch_co','is_booking','hotel_market','user_location_country','srch_destination_id', 'year']

In [10]:
df1['year']=df1['date_time'].dt.year
test = df1[(df1['is_booking']== True) & (df1['year']==2014)]
train = df1[((df1['is_booking']== False) & (df1['year']==2014)) | (df1['year'] != 2014)]

In [11]:
test.drop(lst_drop,axis=1,inplace=True)
train.drop(lst_drop,axis=1,inplace=True)

/Users/abhisheknigam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/abhisheknigam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [12]:
#['is_booking','hotel_market','user_location_country','user_location_region','user_location_city','srch_destination_id']
#['date_time','srch_ci','srch_co']

#df1.drop(lst_drop,axis=1,inplace=True)

In [13]:
#msk = np.random.rand(len(df1)) < 0.8

In [14]:
#train = df1[msk]

In [15]:
#test = df1[~msk]

In [16]:
expected_result = test.hotel_cluster

In [17]:
del test['hotel_cluster']

In [18]:
del df1
del df2

In [19]:
trainingSet = train.as_matrix()
testSet = test.as_matrix()

# Naive Bayes Implementation

In [20]:
def segregateClass(df):
    classLabel = {}
    for i in range(len(df)):
        array = df[i]
        if (array[-4] not in classLabel):
            classLabel[array[-4]] = []
        classLabel[array[-4]].append(array)
    return classLabel

In [21]:
def calculateStandardDeviation(arrayOfNum):
    avg = calculateMean(arrayOfNum)
    variance = sum([pow(x-avg,2) for x in arrayOfNum])/float(len(arrayOfNum)-1)
    return math.sqrt(variance)

In [22]:
def calculateMean(arrayOfNum):
    return sum(arrayOfNum)/float(len(arrayOfNum))

In [23]:
def segregateClasses(dataset):
    classSummary = [(calculateMean(attribute), calculateStandardDeviation(attribute)) for attribute in zip(*dataset)]
    del classSummary[-4]
    return classSummary

In [24]:
def summarizeByClass(dataset):
    differentClasses = segregateClass(dataset)
    classSummaries = {}
    for value, instances in differentClasses.items():
        classSummaries[value] = segregateClasses(instances)
    return classSummaries

In [25]:
import math
def calculateProbability(x, mean, stdev):
    exponent = math.exp(-(math.pow(x-mean,2)/(2*math.pow(stdev,2))))
    return (1 / (math.sqrt(2*math.pi) * stdev)) * exponent

In [26]:
def probabilityForEachClass(summaries, inputVector):
    probabilities = {}
    for classValue, classSummaries in summaries.items():
        probabilities[classValue] = 1
        for i in range(len(classSummaries)):
            mean, stdev = classSummaries[i]
            x = inputVector[i]
            probabilities[classValue] += calculateProbability(x, mean, stdev)
    return probabilities

In [27]:
def getClassPrediction(summaries, inputVector):
    probabilities = probabilityForEachClass(summaries, inputVector)
    bestLabel, bestProb = None, -1
    for classValue, probability in probabilities.items():
        if bestLabel is None or probability > bestProb:
            bestProb = probability
            bestLabel = classValue
    return bestLabel

In [28]:
def predict(summaries, testSet):
    predictions = []
    for i in range(len(testSet)):
        result = getClassPrediction(summaries, testSet[i])
        predictions.append(result)
    return predictions

In [29]:
def accuracy(actual_values, predicted_values):
    match = 0
    for x in range(len(actual_values)):
        if actual_values['hotel_cluster'][x] == predicted_values[x]:
            match += 1
    return (match/float(len(actual_values))) * 100.0

# Running Naive Bayes on the dataset

In [30]:
summaries = summarizeByClass(trainingSet)

In [31]:
predicted_value = predict(summaries, testSet)

In [32]:
pd_final = pd.DataFrame(data=expected_result, dtype=np.int64)

In [33]:
pd_final = pd_final.reset_index()

In [34]:
accuracy = accuracy(pd_final, predicted_value)

In [35]:
accuracy

28.495091338386974

In [36]:
millis2 = int(round(time.time() * 1000))

In [37]:
final_time = (millis2 - millis1)/1000
final_time

47.809

In [38]:
#91,41,65,48,25,33,95,18,21,70
y = label_binarize(pd_final['hotel_cluster'], classes=[91,41])
predicted_value = label_binarize(predicted_value, classes=[91,41])

In [39]:
average_precision = average_precision_score(y, predicted_value)
print('Average precision-recall score: {0:0.2f}'.format(
      average_precision))

Average precision-recall score: 0.62

In [40]:
train

,orig_destination_distance,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,hotel_cluster,month,plan_time,length_of_stay
105,2104.9654,3,0,1,91.0,8,21.177234,1.0
369,3.3379,2,0,1,91.0,4,-0.693819,3.0
370,3.3379,2,2,1,91.0,4,-0.694132,3.0
371,3.3379,2,2,1,91.0,4,-0.385949,2.0
771,5768.0730,2,2,1,91.0,11,271.549525,3.0
775,5761.2438,2,2,1,91.0,11,270.532326,3.0
776,5761.2438,2,2,1,91.0,11,270.531146,3.0
1183,2010.5704,2,0,1,91.0,10,143.762141,7.0
1197,2010.5704,2,0,1,91.0,11,109.718125,7.0
1318,174.8678,4,0,2,41.0,9,14.411227,2.0
1327,174.0120,4,0,2,41.0,9,14.404606,2.0
1329,174.4911,4,0,2,41.0,9,14.404491,2.0
1333,174.6888,4,0,2,41.0,9,14.402454,2.0
1377,2377.0001,2,0,1,41.0,9,72.538912,4.0
1384,2392.0809,2,0,1,41.0,9,55.039653,4.0
1406,2397.0412,2,0,1,41.0,10,45.016968,5.0
1411,2397.0412,1,0,1,41.0,10,45.110764,3.0
1414,2397.0412,3,0,2,41.0,10,45.103530,3.0
1417,2397.0412,1,0,1,41.0,10,43.132257,4.0
1419,2397.0412,3,0,1,41.0,10,43.115081,4.0
1420,2397.0412,2,0,1,41.0,10,44.110949,3.0
1421,2397.0412,2,0,1,41.0,10,43.105370,3.0
1422,2397.0412,1,0,1,41.0,10,41.103032,4.0
1423,2397.0412,2,0,1,41.0,10,41.101991,4.0
1424,2397.0412,2,0,1,41.0,10,41.098785,3.0
1425,2397.0412,3,0,1,41.0,10,41.090521,3.0
1426,2397.0412,3,0,1,41.0,10,41.064213,2.0
1431,43.0667,1,0,1,41.0,12,0.080231,1.0
1433,2377.0001,2,0,1,41.0,12,314.368090,5.0
1434,2377.0001,2,0,1,41.0,12,314.365150,4.0
...,...,...,...,...,...,...,...,...
9999031,35.2517,2,0,1,91.0,8,-0.770220,1.0
9999048,5.3378,2,0,1,41.0,1,2.653113,1.0
9999286,96.8027,1,9,6,91.0,6,53.578241,3.0
9999305,76.6477,2,1,1,41.0,8,7.811620,1.0
9999386,1874.4897,2,0,1,41.0,5,45.570625,14.0
9999565,1388.2365,2,0,1,91.0,11,41.447824,7.0
9999644,217.9701,2,0,1,91.0,6,1.261840,2.0
9999645,207.4063,2,0,1,91.0,6,1.260532,2.0
9999668,118.6520,2,0,1,41.0,7,5.523611,1.0
9999669,118.9735,1,0,1,91.0,7,5.504236,1.0
9999675,102.3333,1,0,1,91.0,8,-0.610359,1.0
9999679,47.8667,1,0,1,91.0,8,-0.513148,1.0
9999698,921.5187,2,0,1,91.0,12,26.332488,5.0
9999714,2.7365,2,0,1,91.0,12,-0.453495,1.0
9999747,207.5540,2,1,1,91.0,2,-0.239560,2.0
9999806,354.8281,2,0,1,41.0,12,7.050509,4.0
9999813,355.2048,2,0,1,41.0,12,7.030301,4.0
9999814,5.1823,1,0,1,91.0,7,87.271597,15.0
9999815,5.1823,2,0,1,91.0,7,89.270613,4.0
9999817,5.1823,2,0,1,91.0,7,97.265544,4.0
9999835,338.5864,1,0,1,91.0,8,13.721065,2.0
9999837,337.6586,1,0,1,91.0,8,13.719722,2.0
9999838,335.1224,1,0,1,91.0,8,13.715868,2.0
9999841,335.0531,1,0,1,41.0,8,14.711632,2.0
9999934,126.5319,1,0,1,91.0,10,-0.493924,1.0
9999952,2078.6780,2,2,1,91.0,11,15.418576,2.0
9999953,2079.0734,2,2,1,91.0,11,15.416840,2.0
9999979,575.9210,4,0,1,91.0,12,1.156736,2.0
9999981,576.5275,4,0,1,91.0,12,1.152049,2.0
9999986,22.1708,4,0,1,91.0,12,0.212847,1.0

In [41]:
test

,orig_destination_distance,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,month,plan_time,length_of_stay
372,3.3379,2,2,1,4,-0.405926,2.0
2687,2450.9117,1,0,1,3,1.152222,1.0
2714,213.4010,1,0,1,11,3.372847,2.0
2818,90.4694,2,3,1,5,29.460729,1.0
2853,185.0757,2,0,1,9,22.103206,1.0
3668,459.9214,1,0,1,4,15.069560,1.0
4099,525.9236,2,0,1,1,20.453611,1.0
4153,109.8043,2,1,1,9,-0.536944,3.0
5200,230.8285,1,0,1,2,0.776551,2.0
5203,230.8285,3,0,2,3,0.397523,3.0
5235,72.1107,2,0,1,9,-0.472940,2.0
5237,0.9680,1,0,1,10,1.385729,2.0
7209,561.5022,2,0,1,7,49.178704,4.0
7229,1101.0402,1,0,1,9,5.638310,2.0
7233,1332.8625,1,0,1,10,1.618403,1.0
7235,1175.6653,1,0,1,10,2.611933,1.0
7377,84.9184,2,2,1,6,0.574988,1.0
7581,1602.7847,3,2,2,2,1.507627,6.0
7584,1602.7847,1,0,1,2,2.446458,5.0
7978,499.4244,2,0,1,6,23.592303,2.0
8070,145.6281,2,0,1,2,-0.373368,1.0
8697,295.2786,2,0,1,9,-0.780150,1.0
8840,235.9457,1,0,1,6,2.678461,2.0
8842,235.9457,1,0,1,8,1.457060,2.0
8845,201.6361,3,0,2,10,3.457211,2.0
9302,450.3272,1,0,1,3,10.647477,2.0
9939,769.6952,2,0,1,4,6.481123,2.0
10847,2421.8531,2,2,1,12,17.174005,1.0
10885,2.9810,2,0,1,12,11.159769,2.0
11216,1685.1757,1,0,1,9,1.593009,1.0
...,...,...,...,...,...,...,...
9989923,1618.7292,1,0,1,10,5.429306,7.0
9989952,391.6029,2,3,1,4,22.505394,1.0
9989959,585.7602,1,0,1,5,0.638125,1.0
9990068,1680.9511,1,0,1,11,10.528854,1.0
9990233,21.5061,2,0,1,5,4.657905,1.0
9990982,243.9501,1,0,1,6,0.672674,2.0
9991079,0.1794,2,0,1,5,22.528600,6.0
9992307,810.4897,2,3,2,12,7.370150,3.0
9993063,163.6733,2,2,1,12,126.649525,2.0
9993244,1850.0556,2,0,1,1,19.392164,3.0
9994275,716.0996,2,0,1,12,61.437338,3.0
9994477,109.6381,2,3,1,8,30.528669,3.0
9994680,403.9731,2,0,1,8,53.488333,1.0
9994682,403.9731,2,0,1,8,57.625023,1.0
9994698,169.9313,2,0,1,7,23.593461,2.0
9994700,169.9313,1,0,1,10,-0.454294,1.0
9996194,9174.8705,1,0,1,10,18.208067,3.0
9996555,111.7877,2,0,1,10,6.361007,1.0
9997095,1078.7834,1,0,1,7,0.773785,3.0
9997130,50.7673,2,0,1,10,16.258484,1.0
9997199,3358.2017,2,1,1,9,57.904375,5.0
9997612,165.2992,2,0,1,11,-0.722025,1.0
9997637,1799.4759,2,2,1,4,43.503437,1.0
9997723,222.1606,2,2,1,11,19.821123,2.0
9999032,35.2517,2,0,1,8,-0.773634,1.0
9999670,118.9735,1,0,1,7,5.502743,1.0
9999676,102.3333,1,0,1,8,-0.611053,1.0
9999680,47.8667,1,0,1,8,-0.513843,1.0
9999816,5.1823,2,0,1,7,89.268866,4.0
9999818,5.1823,2,0,1,7,97.265023,4.0